<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <tnt2custom>
                <active>1</active>
                <title>TNT Express before 12:00</title>
                <name>TNT Express before 12:00 Method</name>
                <shipping_cost>500</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Vendor\TNTExpress2\Model\Carrier\TNT2custom</model>
            </tnt2custom>
        </carriers>
    </default>
</config>
